:root { 
--green_300:#83d991; 
--black_900_7f:#0000007f; 
--deep_purple_600_38:#6417c338; 
--light_blue_300:#5dceff; 
--blue_A400:#1c70ef; 
--black_900_7a:#0000007a; 
--pink_900:#7f184c; 
--light_green_200:#cce7a0; 
--deep_purple_600:#6418c3; 
--red_400:#db5669; 
--amber_A100:#ffde76; 
--teal_100:#a6e6e5; 
--black_900_01:#07051a; 
--teal_900:#074f50; 
--light_blue_A700:#0a82e9; 
--blue_gray_900_02:#382a2b; 
--blue_gray_900_01:#1c2640; 
--blue_gray_900:#1e1b3a; 
--pink_100:#fba8e9; 
--red_A200_01:#fc4c59; 
--orange_200_02:#fcc56b; 
--orange_200_01:#ffce71; 
--lime_300:#dbf089; 
--gray_400:#c4c4c4; 
--black_900_0a:#0000000a; 
--blue_900:#0052b4; 
--gray_800:#4b1544; 
--blue_gray_500:#737891; 
--amber_100:#ffedae; 
--light_blue_300_01:#5dcfff; 
--light_green_400_01:#8bdd59; 
--orange_200:#f3cb7d; 
--blue_100:#c6eeff; 
--gray_700_01:#56586f; 
--red_A200_aa:#ff4a55aa; 
--light_blue_A700_01:#0084ff; 
--red_700:#bc3b4a; 
--red_300:#f26674; 
--green_600:#44a03b; 
--green_A200:#53debc; 
--pink_400_01:#dc3371; 
--teal_400:#34c591; 
--gray_500_01:#a4a4a4; 
--purple_A700:#9303ef; 
--gray_500_02:#ab7193; 
--pink_400:#e328af; 
--deep_purple_600_28:#6417c328; 
--gray_500:#aaaaaa; 
--gray_900:#0d0b21; 
--red_300_01:#f76b6b; 
--teal_50:#dfecf2; 
--teal_A200:#4ff3fd; 
--gray_100:#f5f5f5; 
--orange_400_01:#ffab2d; 
--blue_400:#4293e6; 
--light_blue_300_1e:#5dceff1e; 
--light_blue_400_01:#23b7ec; 
--deep_orange_A100:#f9a880; 
--red_200:#c99e8a; 
--green_900:#00831e; 
--blue_A200:#4a8cff; 
--light_green_400:#9dcc6b; 
--green_500:#37e25d; 
--amber_A100_03:#ffdb6c; 
--white_A700_aa:#ffffffaa; 
--amber_A100_01:#fceb88; 
--green_A700:#00ad3c; 
--amber_A100_02:#fddf6d; 
--purple_900:#4a3177; 
--blue_gray_700:#464365; 
--purple_500:#ab17c3; 
--pink_300:#ea518d; 
--red_A700:#ff0000; 
--blue_700:#256ec6; 
--red_A200:#ff4a55; 
--amber_300:#ffcc66; 
--orange_400:#ffaa2c; 
--gray_200:#f0f0f0; 
--lime_100:#e6f9bd; 
--gray_100_03:#f6eeff; 
--gray_100_02:#f2f2f2; 
--gray_400_01:#c6c6c6; 
--gray_400_02:#c2c2c2; 
--white_A700_26:#ffffff26; 
--gray_100_01:#f5eeff; 
--gray_400_03:#bebebe; 
--blue_300:#6fabe6; 
--red_A700_01:#d80027; 
--white_A700:#ffffff; 
--blue_gray_700_01:#474366; 
--black_900_59:#00000059; 
--purple_200:#c98fbb; 
--blue_A100:#82bcf4; 
--light_green_300:#b5e08c; 
--red_500:#ff2820; 
--light_blue_400:#1bbaff; 
--teal_200:#90d8d1; 
--black_900_1e:#0000001e; 
--light_blue_800:#066dcd; 
--green_400:#53d869; 
--black_900_23:#00000023; 
--pink_900_01:#7c152e; 
--black_900:#060419; 
--deep_orange_600:#e96520; 
--light_green_700:#639657; 
--blue_gray_800:#3d3a4e; 
--pink_600:#d82865; 
--black_900_26:#00000026; 
--gray_900_02:#1c1a33; 
--gray_900_03:#2a1538; 
--gray_700:#585858; 
--gray_900_04:#1d133a; 
--gray_900_05:#182830; 
--blue_700_02:#0066dd; 
--blue_gray_900_05:#2f2256; 
--blue_700_01:#2390bf; 
--lime_800:#ad905a; 
--blue_gray_900_04:#2b1e50; 
--amber_600:#ffba00; 
--gray_900_01:#15132b; 
--blue_gray_900_03:#313d40; 
--gray_900_06:#161616; 
--orange_300:#ffb357; 
--gray_300:#e6e6e6; 
--gray_900_07:#1f1f1f; 
--gray_900_08:#381b31; 
--green_500_01:#4bd150; 
--white_A700_00:#ffffff00; 
--indigo_100:#c4bef4; 
--gray_400_67:#c2c2c267; 
--indigo_900:#0d3973; 
--light_green_300_01:#aed893; 
--blue_400_01:#34a7d8; 
--indigo_500:#4c5aa7; 
--blue_400_02:#3fa9f5; 
}